* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Anton', sans-serif;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: seagreen;
    margin-bottom: 0;
    margin-top: 10vmin;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(4, 17vmin);
    grid-template-rows: repeat(4, 17vmin);
    gap: 2vmin;
  }
  
  img {
    width: 100%;
    border-radius: 3vmin;
  }

  header {
    color: gold;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: -3vmin;
  }

  h2 {
    color: darkred;
    margin-top: 4vmin;
    margin-bottom: -3vmin;
  }

