header {
    text-align: center;
    font-size: 5vmin;
}

h1 {
    text-align: center;
}

body {
    background-color: royalblue;
}
.card {
    position: relative;
    background-color: lightgrey;
    height: 150px;
    width: 100px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
}

.board {
    display: grid;
    grid-template-columns: repeat(6, 10vmin);
    gap: 7vmin;
    margin-top: 7vmin;
    justify-content: center;
    
   
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.back {
    position: absolute;
    width: 100px;
    height: 150px;
}

.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.front {
    position: absolute;
    width: 100px;
    height: 150px;
}